<h2>Let me fix you a Verb.</h2>

<p>Un petite moment, j'arrive...</p>

<!--
<div class="progress">
  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
-->

<mat-progress-bar
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="value"
  [bufferValue]="bufferValue">
</mat-progress-bar>

<br>

<div *ngIf="buttonTitle !== ''">
  <button type="button" class="btn btn-primary">{{buttonTitle}}</button>
</div>

<app-playground></app-playground>