<h2>Verbfix Playground</h2>

<div class="row">
  <div class="col">
    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick-a-Vebr" matInput [formControl]="verbControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let ver of verbs" [value]="ver">
            {{ver}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>     -->
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Select Verb<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <li 
            role="menuitem" 
            *ngFor="let verb of verbs"
            (click)="loadVerb(verb)"><a class="dropdown-item" href="#">{{verb}}</a></li>  
        <!-- <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li> -->
      </ul>
    </div>
    <div class="row">
      <p>The verb is: {{verb.inf}}</p>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col"><label>Je</label></div>
          <div class="col"><input name="ja" type="text" [(ngModel)]="jaConj"></div>
        </div>
        <div class="row">
          <div class="col"><label>Tu</label></div>
          <div class="col"><input name="ti" type="text"></div>
        </div>
        <div class="row">
          <div class="col"><label>Il</label></div>
          <div class="col"><input name="on" type="text"></div>
        </div>
      </div>
      <div class="col">
          <div class="row">
            <div class="col"><label>Nous</label></div>
            <div class="col"><input name="ja" type="text"></div>
          </div>
          <div class="row">
            <div class="col"><label>Vous</label></div>
            <div class="col"><input name="ti" type="text"></div>
          </div>
          <div class="row">
            <div class="col"><label>Ils</label></div>
            <div class="col"><input name="on" type="text"></div>
          </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="validateCojugations()">Validate</button>
  </div>
</div>
