<h2>Verbfix Playground</h2>

<div class="row">
  <div class="col">
    <h3 style="text-align: center;">{{getVerb()}}</h3>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col"><label>Je</label></div>
          <div class="col"><input name="ja" type="text"></div>
        </div>
        <div class="row">
          <div class="col"><label>Tu</label></div>
          <div class="col"><input name="ti" type="text"></div>
        </div>
        <div class="row">
          <div class="col"><label>Il</label></div>
          <div class="col"><input name="on" type="text"></div>
        </div>
      </div>
      <div class="col">
          <div class="row">
            <div class="col"><label>Nous</label></div>
            <div class="col"><input name="ja" type="text"></div>
          </div>
          <div class="row">
            <div class="col"><label>Vous</label></div>
            <div class="col"><input name="ti" type="text"></div>
          </div>
          <div class="row">
            <div class="col"><label>Ils</label></div>
            <div class="col"><input name="on" type="text"></div>
          </div>
        </div>
    </div>
  </div>
</div>
